.flashy {
  font-family: fantasy;
}

h1{
  animation: blinker 1s linear infinite;
  color: blue;
}

@keyframes blinker {
  60% { opacity: 0; }
}

.best {
  font-weight: bolder;
  font-family: fantasy;
  color: red;
}

body {
  background-color: lightblue;
}

.redvelvet {
  height: 180px;
}

ul {
  list-style: none;
}

 .find {
  padding: 10px;
  margin-top: 30px;
  border: solid;
  border-style: dashed;
  width: 140px;
  text-align: center;
  background-color: white;
}
 a {
   color: green;
 }
